.rewards-container {
    padding: 40px 20px; /* Adds padding around the entire container */
    background-color: #fff; /* Background color for clarity */
    text-align: center;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center content */
    align-items: center;
    margin-top: 5px;
  }
  
  /* .rewards-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px; 
  } */
  
  .rewards-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px; /* Space below the divider */
  }
  
  .divider-line {
    width: 20%; /* Adjusts the length of the line */
    height: 2px;
    background-color: #0073e6;
  }
  
  .divider-arrow {
    width: 20px;
    height: 20px;
    border-right: 2px solid #0073e6;
    border-bottom: 2px solid #0073e6;
    transform: rotate(45deg);
    margin: 0 10px;
  }
  
  .rewards-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal columns */
    gap: 40px; /* Spacing between columns */
    width: 100%;
    max-width: 1200px; /* Limits the width for readability */
  }
  
  .reward-item {
    text-align: left;
    padding: 20px;
    border: 1px solid #ddd; /* Optional: Adds a subtle border */
    border-radius: 8px; /* Rounds corners */
    background-color: #f9f9f9; /* Light background for contrast */
  }

  /* .reward-item img {
    height: 100px;
    width: 500px;
  } */
  
  .reward-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .reward-logo {
    width: 100%; 
    max-width: 290px; 
    margin-bottom: 20px;
  }
  
  .reward-description {
    font-size: 14px;
    line-height: 1.6;
  }
  
  @media (max-width: 768px) {
    .rewards-grid {
      grid-template-columns: 1fr; /* Stacks items vertically on smaller screens */
    }
    .rewards-header{
      margin-top: 500px;
    }
    .rewards-container{
      margin-bottom: -24rem;
    }
  }

  @media (max-width: 480px),(max-width: 320px),(max-width: 1024px),(max-width: 1199px),(max-width: 767px),(max-width: 480px),(max-width: 430px),
  (max-width: 414px),(max-width: 390px),(max-width: 375px)
  {
    .rewards-grid {
      grid-template-columns: 1fr; /* Stacks items vertically on smaller screens */
    }
    .rewards-header{
      margin-top: 760px;
    }
    .reward-item h2,p{
      font-size: 20px;
      font-style: italic
    }
    .rewards-container{
      margin-bottom: -14rem;
    }
  }
  
  @media (max-width: 360px) {
    .rewards-header{
      margin-top: 70rem;
    }
  }