.qr-code{
    margin-right: 3rem;
}
.scan-pay{
    margin-right: 2rem;
}


@media screen and (max-width: 360px) {
    .count-down{
        margin: 4rem;
    }
    .pay-description{
        margin: 3rem;
    }
}

@media screen and (max-width: 667px) {
    .count-down{
        margin: 3rem;
    }
    .pay-description{
        margin: 3rem;
    }
}